body {
	margin-top: 0px;
	background-color: #fdf59c;
	margin: 0px;
}
header {
	background-color: #1dacd6;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-align: center;
}
.explicacao-da-pagina {
	font-family: 'Montserrat', sans-serif; 
}
/* ( . = classe) E (# = id) */
footer {
	font-family: 'Montserrat', bold;
	font-size: 17px;
}